<!-- COMPONENT GEBETEN-variabele: {{gebeten}} -->
<titelbalk></titelbalk>
<!-- <suske></suske> -->
<!-- <stripfiguur></stripfiguur> -->
<!-- <wiske [isGebeten]="gebeten"></wiske> -->
<!-- <wiske></wiske> -->
<!-- <button (click)="onbekendeBijtWiske()">laat wiske bijten</button>   -->
<suske [boodschap]="bericht" (naarBoven)="doeIetsMet($event)"></suske>
<input type="text" #message><button (click)="geefBoodschapDoor(message.value)">verstuur naar Suske</button>
inkomende boodschap van beneden: {{vanBeneden}}